@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

::-moz-selection {
	/* Code for Firefox */
	color: white;
	background: black;
}

::selection {
	color: white;
	background: black;
}

.selectionwhite::-moz-selection {
	/* Code for Firefox */
	color: black;
	background: white;
}

.selectionwhite::selection {
	color: black;
	background: white;
}

::-webkit-scrollbar {
	background-color: white;
	width: 14px;
	height: 14px;
	-webkit-appearance: none;
}

::-webkit-scrollbar:horizontal {
	border-radius: 20px;
	background-color: white;
	border: 2px solid black;
}

::-webkit-scrollbar-thumb {
	border-radius: 20px;
	border: 4px solid transparent;
	background-color: black;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:vertical {
	border-radius: 3px;
	border: 2.5px solid transparent;
}

.bodyoverlay {
	overflow: overlay;
}

.big-image {
	height: 100vh;
	width: 100%;
	position: relative;
	background-size: cover;
	background-position: 50% 50%;
	background-image: url(/background.jpg);
}

@layer components {
	.overlay {
		@apply absolute h-screen w-full top-0 left-0 bg-black/[.55] flex flex-col items-center justify-center;
	}

	.gradient {
		@apply bg-gradient-to-r from-cyan-500 to-blue-500;
	}

	.header {
		@apply fixed w-full p-1 md:p-2 flex flex-row justify-center md:justify-end mx-auto z-20;
	}

	.heroButton {
		@apply px-2 md:px-8 py-1 text-xl font-poppins rounded-lg font-semibold text-white;
	}

	.contactInput {
		@apply outline-none selectionwhite font-medium font-poppins bg-black rounded-sm px-2 py-4 border focus:border-2 border-white text-white placeholder-neutral-600;
	}
}
